<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>

    <header>

    </header>

    <main role="main" class="flex-shrink-0">
        <div class="container">
            {% block breadcrumbs %}{% endblock %}
            {% include '_flash.html.twig' %}
            {% block body %}{% endblock %}
        </div>
    </main>

    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">App</span>
        </div>
    </footer>

</html>
